.wrapper {
  height: 1000px;
  background-image: url(../img/header.png);
  background-position: center;
  background-size: cover; }
  .wrapper header {
    height: 80px;
    padding: 40px 215px 0 215px; }
    .wrapper header > * {
      display: inline-block; }
    .wrapper header span {
      font-family: Montserrat;
      color: #ffffff;
      font-size: 60px;
      font-weight: 700;
      text-align: left; }
    .wrapper header a {
      text-decoration: none; }
    .wrapper header .navigation {
      float: right; }
      .wrapper header .navigation nav {
        width: 430px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px; }
        .wrapper header .navigation nav a, .wrapper header .navigation nav:visited {
          font-family: Montserrat;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none; }
          .wrapper header .navigation nav a:hover, .wrapper header .navigation nav:visited:hover {
            color: #fce38a;
            border-bottom: 1px solid #fce38a; }
          .wrapper header .navigation nav a:nth-child(6), .wrapper header .navigation nav a:nth-child(7), .wrapper header .navigation nav:visited:nth-child(6), .wrapper header .navigation nav:visited:nth-child(7) {
            border-bottom: none; }
  .wrapper .promo {
    padding: 80px 0 210px 0;
    text-align: center;
    width: 800px;
    height: 250px;
    margin: 0 auto;
    padding: 0; }
    .wrapper .promo p {
      font-family: KaushanScript;
      color: #ffffff;
      font-size: 72px;
      font-weight: 400;
      text-align: center; }
    .wrapper .promo span {
      font-family: Montserrat;
      color: #ffffff;
      font-size: 150px;
      font-weight: 700;
      line-height: 140px;
      text-align: center;
      text-transform: uppercase; }
    .wrapper .promo .str {
      background-color: #ffffff;
      width: 60px;
      height: 3px;
      margin: 0 auto;
      padding: 0;
      margin-top: 70px;
      margin-bottom: 50px; }
    .wrapper .promo .btn {
      width: 150px;
      height: 30px;
      border: 2px solid #ffffff;
      text-align: center;
      padding: 10px 10px 0 10px; }
    .wrapper .promo a {
      display: inline-block;
      font-family: Montserrat;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      text-align: center;
      margin: 0 auto; }
      .wrapper .promo a:hover {
        background-color: #f39367; }

.about p {
  font-family: KaushanScript;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  text-align: center; }
  .about p:first-child {
    padding-top: 90px; }

.about .p-about {
  font-family: Montserrat;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  text-align: center; }

.about div:nth-child(2) {
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 0 auto; }

.about .about-text {
  max-width: 900px;
  margin: 0 auto; }
  .about .about-text p {
    font-family: Roboto;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px; }

.about .about-img {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin: 0 auto; }

.about img {
  width: 300px;
  height: 220px;
  opacity: 1; }
  .about img:hover {
    box-shadow: 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93, 8px 8px #53ea93, 9px 9px #53ea93, 10px 10px #53ea93, 11px 11px #53ea93;
    transform: translateX(-12px) translateY(-7px);
    opacity: 0.3; }

.num {
  margin-top: 110px;
  background-color: #95e1d3;
  height: 220px; }
  .num .num-items {
    display: flex;
    align-items: center;
    justify-content: center; }
    .num .num-items > div {
      border-left: 1px solid #ffffff;
      height: 270px;
      width: 360px;
      text-align: center;
      padding-top: 40px; }
      .num .num-items > div p {
        font-family: Montserrat;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase; }
      .num .num-items > div span {
        font-family: Montserrat;
        color: #ffffff;
        font-size: 72px;
        font-weight: 700;
        text-align: center; }
      .num .num-items > div:last-child {
        border-right: 1px solid #ffffff; }

.services-items {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .services-items .services-item-1 {
    padding: 30px 20px 40px 5px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dfd7d7; }
    .services-items .services-item-1:nth-child(5), .services-items .services-item-1:nth-child(6), .services-items .services-item-1:last-child {
      border-bottom: none; }
    .services-items .services-item-1 a {
      text-decoration: none; }
      .services-items .services-item-1 a:hover {
        text-decoration: underline; }
    .services-items .services-item-1 .services-item-1-img {
      padding-right: 20px; }
    .services-items .services-item-1 p {
      font-family: Montserrat;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      text-align: left; }
    .services-items .services-item-1 span {
      font-family: Roboto;
      color: #999999;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: left; }

.devices {
  background-image: url(../img/ppp.jpg);
  height: 850px;
  background-position: center;
  background-size: cover;
  position: relative; }
  .devices .devices-image {
    position: absolute;
    top: 57%;
    left: 58.5%;
    padding-bottom: 70px; }

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px; }
  .slider .slider-items {
    padding: 10px; }
    .slider .slider-items p {
      font-family: Roboto;
      color: #999999;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: left; }

footer {
  background-color: #f8f8f8; }
  footer .footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px; }
    footer .footer-items .footer-item-1 {
      width: 360px;
      padding-right: 20px; }
      footer .footer-items .footer-item-1 p {
        font-family: Montserrat;
        color: #cccccc;
        font-size: 45.99px;
        font-weight: 700;
        text-align: left; }
      footer .footer-items .footer-item-1 .followers {
        font-family: Montserrat;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        text-align: left; }
        footer .footer-items .footer-item-1 .followers span {
          font-family: Montserrat;
          color: #333333;
          font-size: 18px;
          font-weight: 700;
          text-align: left; }
      footer .footer-items .footer-item-1 span {
        font-family: Roboto;
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left; }
      footer .footer-items .footer-item-1 hr {
        color: lightgray;
        size: 5px; }
      footer .footer-items .footer-item-1 .follow {
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px; }
        footer .footer-items .footer-item-1 .follow div {
          font-family: Roboto;
          color: #999999;
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
          line-height: 24px;
          text-align: left; }
      footer .footer-items .footer-item-1 input {
        width: 200px;
        height: 30px;
        font-family: Roboto;
        color: #7e7a7a;
        font-style: italic;
        font-weight: 300;
        font-size: 15px; }
      footer .footer-items .footer-item-1 button {
        width: 120px;
        height: 35px;
        font-family: Montserrat;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        background-color: #95e1d3;
        border: none; }
        footer .footer-items .footer-item-1 button:hover {
          background-color: #57dfc6; }
    footer .footer-items .footer-item-2 {
      width: 320px;
      font-family: Montserrat;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      padding-top: 50px;
      padding-right: 20px; }
      footer .footer-items .footer-item-2 .blogs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px; }
        footer .footer-items .footer-item-2 .blogs img {
          padding-right: 10px; }
        footer .footer-items .footer-item-2 .blogs p {
          font-family: Montserrat;
          color: #333333;
          font-size: 10px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-transform: uppercase; }
        footer .footer-items .footer-item-2 .blogs span {
          font-family: Roboto;
          color: #999999;
          font-size: 13px;
          font-weight: 300;
          font-style: italic;
          line-height: 24px;
          text-align: left; }
        footer .footer-items .footer-item-2 .blogs a {
          text-decoration: none; }
          footer .footer-items .footer-item-2 .blogs a:hover {
            text-decoration: underline; }
    footer .footer-items .footer-item-3 {
      width: 300px;
      font-family: Montserrat;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      padding-top: 45px; }
      footer .footer-items .footer-item-3 img {
        width: 80px;
        height: 80px; }
      footer .footer-items .footer-item-3 div {
        padding-top: 20px;
        padding-bottom: 5px; }
      footer .footer-items .footer-item-3 a {
        font-family: Roboto;
        color: #333333;
        font-size: 13px;
        font-weight: 300;
        font-style: italic;
        line-height: 24px;
        text-align: left;
        text-decoration: none; }
        footer .footer-items .footer-item-3 a:hover {
          color: #111010;
          text-decoration: underline; }
  footer .copyright {
    display: block;
    text-align: center;
    font-family: Montserrat;
    color: #333333;
    font-size: 14px;
    font-weight: 400; }
    footer .copyright span {
      color: #f38181; }

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf); }

@font-face {
  font-family: KaushanScript;
  src: url(../fonts/KaushanScript-Regular.otf); }

body {
  margin: 0 auto;
  padding: 0;
  height: 100%; }

.container {
  max-width: 75%;
  margin: 0 auto; }

.select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0 100px 0; }
  .select .select-image {
    width: 460px;
    overflow: hidden; }
  .select .select-items {
    width: 460px;
    overflow: hidden; }
    .select .select-items .select-item-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid #ece7e7;
      padding: 10px;
      margin-bottom: 10px; }
      .select .select-items .select-item-1 .empty {
        width: 200px; }
      .select .select-items .select-item-1 .main-item:focus ~ .sub-menu,
      .select .select-items .select-item-1 .main-item:active ~ .sub-menu {
        display: block; }
      .select .select-items .select-item-1 p {
        font-family: Montserrat;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        text-align: left; }
      .select .select-items .select-item-1 span {
        font-family: Roboto;
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left; }
    .select .select-items .sub-menu {
      display: none;
      border-top: 1px solid #ece7e7;
      padding: 10px;
      overflow: auto;
      height: 150px;
      scrollbar-track-color: aqua; }
