.about {
  p {
    font-family: KaushanScript;
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    &:first-child {
      padding-top: 90px;
    }
  }
  .p-about {
    font-family: Montserrat;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  div:nth-child(2) {
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 0 auto;
  }
  .about-text {
    max-width: 900px;
    margin: 0 auto;

    & p {
      font-family: Roboto;
      color: #999999;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      padding-top: 20px;
    }
  }
  .about-img {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;

    // a:hover {
    //   box-shadow: 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93,
    //     8px 8px #53ea93, 9px 9px #53ea93, 10px 10px #53ea93, 11px 11px #53ea93;
    //   transform: translateX(-12px) translateY(-7px);
    // }
  }
  img {
    width: 300px;
    height: 220px;
    opacity: 1;
    &:hover {
      box-shadow: 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93,
        8px 8px #53ea93, 9px 9px #53ea93, 10px 10px #53ea93, 11px 11px #53ea93;
      transform: translateX(-12px) translateY(-7px);
      opacity: 0.3;
    }
  }
}
